@charset "UTF-8";

.main-color {
  color: #2d74c4 !important;
}

.main-color-red {
  color: #da4e53 !important;
}

.main-color-green {
  color: #92cb34 !important;
}

.custom-badge {
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #6c757d;
  text-align: center;
  display: block;
}

.custom-badge.success {
  background-color: #92cb34;
}

.custom-badge.primary {
  background-color: #2d74c4;
}

.custom-badge.danger {
  background-color: #da4e53;
}

.custom-card {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 20px;
}

.custom-card__body {
  padding: 10px 20px;
}

.custom-card__body .stat__counter {
  font-size: 30px;
}

.custom-card__body .stat__title {
  color: rgba(0, 0, 0, 0.6);
}

.custom-card__body .stat__icon > i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
}

.custom-control {
  color: #717171 !important;
}

input.custom-control,
textarea.custom-control {
  outline: none;
  border: 2px solid #f2f2f2;
  padding: 5px 10px;
  width: 100%;
  transition: 0.3s all ease;
  border-radius: 0;
}

input.custom-control:focus,
textarea.custom-control:focus {
  border-color: #adb5bd;
}

input.custom-control::-moz-placeholder, textarea.custom-control::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #717171;
  opacity: 1;
  /* Firefox */
}

input.custom-control:-ms-input-placeholder, textarea.custom-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #717171;
  opacity: 1;
  /* Firefox */
}

input.custom-control::placeholder,
textarea.custom-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #717171;
  opacity: 1;
  /* Firefox */
}

input.custom-control:-ms-input-placeholder,
textarea.custom-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #717171;
}

input.custom-control::-ms-input-placeholder,
textarea.custom-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #717171;
}

input.custom-control.datepicker,
textarea.custom-control.datepicker {
  padding-right: 40px;
}

.datepicker-wrapper {
  position: relative;
}

.datepicker-wrapper::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F073";
  position: absolute;
  right: 15px;
  top: 7px;
  z-index: 2;
  color: #2d74c4;
}

.custom-select-wrapper {
  position: relative;
}

.custom-select-wrapper::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F078";
  position: absolute;
  right: 15px;
  top: 7px;
  z-index: 2;
  color: #2d74c4;
}

select.custom-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  border: 2px solid #f2f2f2;
  padding: 5px 10px;
  width: 100%;
  transition: 0.3s all ease;
  border-radius: 0;
  padding-right: 40px;
}

select.custom-control:focus {
  outline: none;
  border-color: #adb5bd;
}

select::-ms-expand {
  display: none;
}

input.parsley-error .custom-file:first-child {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 2px solid #EED3D7;
}

.custom-file input[type=file] {
  display: none;
}

.custom-file input.parsley-error ~ label {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 2px solid #EED3D7;
}

.custom-file input.parsley-success ~ label {
  color: #468847;
  background-color: #DFF0D8;
  border: 2px solid #D6E9C6;
}

.custom-file label {
  max-width: 100%;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 5px 13px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f2f2;
  background-color: #fff;
  transition: 0.3s all ease;
  margin-bottom: 0;
}

.custom-file > label:focus,
.custom-file > label:active {
  outline: none;
  border: 2px solid #adb5bd;
}

.custom-file > label span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #717171;
}

.custom-file > label > i {
  color: red;
  transition: 0.3s all ease;
}

body {
  font-family: "Calibri", sans-serif;
  font-size: 14px;
  background-color: #f5f5f5;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}

.main-wrapper {
  height: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 30px;
}

.footer {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a5a5a5;
  text-transform: uppercase;
}

.footer__link {
  color: #2d74c4;
  margin-right: 5px;
}

header.app-header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
}

.language-selector {
  transition: 0.3s all ease;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #ffffff;
}

.language-selector .language-menu {
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  min-width: 0;
  margin-top: 5px;
}

.language-selector .language-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.language-selector .language-menu a {
  color: #ffffff;
}

.language-selector i {
  font-size: 14px;
  opacity: 0.7;
}

.language-selector__anchor {
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  text-transform: uppercase;
}

.language-selector__anchor:hover {
  color: #ffffff;
  text-decoration: none;
}

.logos {
  padding: 15px 0;
  display: flex;
}

.logos__item {
  width: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logos__item.right {
  flex-direction: row-reverse;
}

.logos__item.right .logos__img {
  margin-left: 30px;
}

.logos__item.left .logos__img {
  margin-right: 30px;
}

.logos__item.right .logos__img {
  margin-left: 30px;
}

.logos .logos__img {
  width: 120px;
  height: auto;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
}

.logos .logos__text {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
}

.user__links {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.user__links li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px;
}

.user__links li a {
  color: #ffffff;
  letter-spacing: normal;
}

.faq {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 140px 20px 20px;
  text-transform: uppercase;
}

.faq li {
  display: inline-block;
  margin: 0 15px;
  border-bottom: 1px dotted #ffffff;
  opacity: 0.7;
  transition: 0.3s all ease;
}

.faq li:hover {
  opacity: 1;
}

.faq li a {
  color: #ffffff;
  text-decoration: none;
}

.mobile-menu {
  display: none;
  background-color: #3087da;
  border: 1px solid #2672d8;
  padding: 5px;
  position: relative;
}

.mobile-menu .user {
  background-color: rgba(255, 255, 255, 0.2);
}

.mobile-menu .user__links a {
  font-size: 13px;
}

.menu {
  padding: 5px;
  width: 100%;
  background-color: #3087da;
  border: 1px solid #2672d8;
  display: flex;
  align-items: center;
}

.menu ul {
  padding: 5px 10px 5px 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 14px;
  flex-grow: 1;
  margin-right: 10px;
}

.menu ul li.active a {
  color: #ffffff;
  transition: 0.3s all ease;
  text-decoration: underline;
}

.menu ul li a {
  color: #ffffff;
  transition: 0.3s all ease;
}

.search__icon img {
  width: 25px;
  height: 25px;
}

.search__icon:hover {
  color: #ffffff;
}

.menu .search {
  padding: 0 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mobile-menu .search {
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.hamburger {
  padding: 0 5px 0 5px !important;
  margin-left: 10px !important;
}

.hamburger .hamburger-box {
  width: 27px !important;
  height: 27px !important;
}

.hamburger .hamburger-box .hamburger-inner,
.hamburger .hamburger-box .hamburger-inner::before,
.hamburger .hamburger-box .hamburger-inner::after {
  background-color: #fff !important;
  width: 27px !important;
  height: 2px;
}

.mobile-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 92px;
  width: 100%;
  transition: 0.3s all ease;
  display: none;
  z-index: 1050;
}

.mobile-nav ul {
  padding: 0 10px;
  list-style-type: none;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #125b95;
}

.mobile-nav ul::before {
  content: " ";
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #125b95;
  position: absolute;
  top: -10px;
  right: 14px;
}

.mobile-nav ul li {
  transition: 0.3s all ease;
}

.mobile-nav ul li:not(:last-child) a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-nav ul li:hover {
  background-color: #034579;
}

.mobile-nav ul li a {
  color: #ffffff;
  display: block;
  padding: 10px;
}

.mobile-nav ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

.slider__item {
  width: 100%;
  position: relative;
}

.slider__item img {
  width: 100%;
  height: auto;
}

.slider__item__text {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px;
}

.slider .slick-dots li {
  margin: 0;
}

.slider .slick-dots li.slick-active button:before {
  color: #3189d9;
}

.slider .slick-dots li button:before {
  font-size: 15px;
  transition: 0.3s all ease;
}

.home-text {
  color: #2d74c4;
  padding: 10px 30px;
}

.page-title {
  padding: 20px 0;
  color: #2d74c4;
  text-transform: uppercase;
}

.contacts.left,
.contacts.right {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contacts img {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.contacts__text {
  color: #2d74c4;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

.contacts.right {
  flex-direction: row-reverse;
}

.maps-wrapper h4 {
  color: #2d74c4;
  margin: 50px 0;
  text-transform: uppercase;
  font-weight: normal;
}

.maps-wrapper .gmap {
  width: 100%;
  height: 450px;
}

.links-wrapper {
  display: flex;
}

.links-wrapper .img img {
  width: 40px;
}

.links-table {
  margin-bottom: 0;
  width: 100%;
  color: #92cb34;
}

.links-table__item:not(:last-child) {
  margin-bottom: 5px;
}

.links-table__item__title,
.links-table__item__download {
  color: #92cb34;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
  transition: 0.3s all ease;
  font-size: 16px;
  font-weight: bold;
}

.links-table__item__title i,
.links-table__item__download i {
  font-size: 14px;
}

.links-table__item__title:hover,
.links-table__item__download:hover {
  color: #87c51c;
}

.usefull-links__title {
  font-size: 16px;
  margin: 40px 0;
}

.custom-accordion {
  border: 1px solid #2d74c4;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.custom-accordion__button {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  background-color: #fcfcfc;
  transition: 0.3s all ease;
}

.custom-accordion__button:hover {
  color: #000;
  text-decoration: none;
  background-color: #f5f5f5;
}

.custom-accordion .card {
  border: none;
}

.custom-accordion .card-header {
  padding: 0;
  border-bottom: 1px solid #2d74c4;
}

table.dataTable > thead {
  background-color: #92cb34;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .container {
    padding: 0;
  }

  .container .row {
    margin-right: 0;
    margin-left: 0;
  }

  .container .row > .col,
  .container .row > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
  }

  .links-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .links-wrapper .img {
    margin-bottom: 20px;
  }

  .usefull-links__title {
    text-align: center;
  }

  .logos {
    padding: 10px 0;
  }

  .logos__item {
    justify-content: center;
  }

  .logos__text {
    display: none;
    font-size: 10px;
  }

  .logos__img {
    width: 100px;
  }

  .navbar,
  .faq,
  .menu {
    display: none;
  }

  .main-wrapper {
    padding: 10px;
  }

  .main-wrapper .page-title {
    text-align: center;
  }

  .main-wrapper .page-title h4 {
    font-size: 18px;
  }

  .main-wrapper .contacts.left,
  .main-wrapper .contacts.right {
    flex-direction: column;
    text-align: center;
  }

  .main-wrapper .contacts img {
    margin-bottom: 20px;
  }

  .main-wrapper .contacts__text {
    font-size: 12px;
  }

  .main-wrapper .maps-wrapper {
    text-align: center;
  }

  .main-wrapper .maps-wrapper h4 {
    font-size: 18px;
  }

  .main-wrapper .maps-wrapper .gmap {
    width: 100%;
    height: 450px;
    margin-bottom: 100px;
  }

  .mobile-menu {
    display: block;
  }
}

